.App {
  text-align: center;
}

html {
  font-size: 100%;
  display: flex;
}

header {
  text-align: center;
  background-color: #333333;
  height: 5%;
  min-height: 70px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

footer {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  background-color: #333333;
  height: 5%;
  min-height: 70px;
  color: #ffffff;
  width: 100vw;
  padding-left: 1rem;
}

main {
  margin: 0 5% 2% 5%;
}

a {
  color: lightskyblue;
}

button {
  font-size: 1.5rem;
  font-family: monospace;
  border-radius: 5px;
  background-color: steelblue;
  color: white;
  padding: 10px 20px;
  border: 0;
  margin: 1rem 1rem 1.5rem 0rem;
}

button:disabled {
  opacity: 0.5;
}

button:active {
  background-color: steelblue;
}

.error {
  color: #ff0000;
  font-family: Helvetica, sans-serif;
}
