.App {
  text-align: center;
}

html {
  font-size: 100%;
  display: flex;
}

header {
  text-align: center;
  background-color: #333333;
  height: 5%;
  min-height: 70px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

footer {
  text-align: center;
  background-color: #333333;
  height: 5%;
  min-height: 70px;
  color: #ffffff;
  justify-content: flex-end;
  width: 100vw;
}

button {
  border-radius: 5px;
  background-color: steelblue;
  color: white;
  padding: 10px 20px;
  border: 0;
  margin: 1rem 1rem 1.5rem 0rem;
}

button:disabled {
  opacity: 0.5;
}

button:active {
  background-color: steelblue;
}
